.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: #484848;
  color: #fff;
}

.topCont {
  min-height: 340px;
  width: 1017px;
  margin: 30px 0;
  background: #484848;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.midCont {
  margin-top: 20px;
  min-height: 60px;
  width: 1017px;
  margin-bottom: 10px;
  background: #484848;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
