.rtable {
  border-collapse: collapse;
  background: #484848;
  color: #fff;
  border-radius: 4px;
}

.td {
  padding: 10px;
  text-align: center;
}

.th {
  text-align: center;
  padding: 10px;
}

.tr td {
  border-bottom: 1px solid #646464;
}
